@model UI.Models.WidgetDetails
@{       
    ViewBag.Title = Model.Name;
}
<div>
    @Html.LabelFor(m => m.Name)<br/>
    @Html.DisplayFor(m => m.Name)
</div>
<div>
    @Html.LabelFor(m => m.Size)<br/>
    @Html.DisplayFor(m => m.Size)
</div>
